<!DOCTYPE html>
<html>
<head>
  <title>Identity</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

welcome <%= current_user.email %> <a href=/users/sign_out>sign out</a><br>
<%= yield %>

</body>
</html>

